p{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.email{
  color: rgb(103, 100, 100);
  margin-bottom: 5px;
}
.email-box{
  width: 342px;
  height: 25px;
  border-color: black;
  margin-bottom: 20px;
}
.desc-signup{
  color: rgb(66, 65, 65);
  font-size: 14px;
  margin-bottom: 15px;
}
.submit{
  background-color: rgb(0, 0, 215);
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 136px;
  padding-right: 136px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  border-radius: 70px;
}
.img-try{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.span-text{
  color: rgb(113, 113, 113);
  font-size: 18px;
  vertical-align: middle;
}
.tweet{
  background-color: rgb(0, 149, 255);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 140px;
}