.cat-one{
  width: 200px;
  border-radius: 10px;
}
.cat-two{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.cat-three{
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.search-one{
  width: 200px;
  height: 35px;
  font-size: 20px;
  border-radius: 7px;
  border-style: solid;
  padding-left: 10px;
  border-color: rgb(205, 200, 200);
  border-width: 1px;
}
.SEARCH-TWO{
  width: 400px;
  height: 27px;
  border-width: 1px;
  border-radius: 50px;
  padding-left: 10px;
  border-color: rgb(224, 223, 223);
  border-style: solid;
  box-shadow: 5px -5px 7px rgba(0,0,0,0.15);
}