 p{
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
.video-title{
  font-weight: bold;
  font-size: 17px;
  width: 300px;
  line-height: 23px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 13px;
  color: rgb(96, 96, 96); 
  margin-bottom: 19px;
}
.video-author{
  color:rgb(96, 96, 96);
  font-size: 13px;
  margin-bottom: 17px;
}
.video-description{
  font-size: 13px;
  color: rgb(96, 96, 96);
  width: 250px;
  line-height: 18px;
  margin-bottom: 100px;
}
.apple-text{
  text-align: center;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  padding-top:18px;
  padding-bottom: 18px;
}
.sn{
  cursor: pointer;
}
.sn:hover{
  text-decoration: underline;
}