.thumbnail{
      width: 100%;
    }
    .video-title-link{
      text-decoration: none;
      color: black;
    }
    .video-title{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 8px;
    }
    
    .video-info-grid{
      display: grid;
      grid-template-columns:50px 1fr;
    }
    .profile-picture{
      width: 36px;
      border-radius: 50px;
    }
    .thumbnail-row{
      margin-bottom: 8px;
      position: relative;
    }
    .video-author,.video-stats{
      font-size: 12px;
      color: rgb(96, 96, 96);
    }
    .video-author{
      margin-bottom: 4px;
    }
    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
    }
    @media (max-width: 750px) {
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }
    
    @media (min-width:751px) and (max-width:999px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    @media (min-width:1000px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

    }
    @media (min-width: 1000px){
      .video-title{
        font-size: 16px;
        line-height: 24px;
      }
      
    }
    @media (min-width: 1000px){
      .video-author,
      .video-stats{
        font-size: 14px;
      }
    }
    .video-time{
      font-size: 12px;
      font-weight: 500;
      padding: 4px;
      border-radius: 2px;
      background-color: black;
      color: white;
      position: absolute;  
      bottom: 8px;
      right: 5px; 
    }

    .extra-pfp-container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .extra-pfp-style{
      font-family: Roboto,arial;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -68px;
      left: 15px;
      font-size: 12px;
      background-color: white;
      padding-top:8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 20px;
      border-radius: 6px;
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;
      transition: opacity 0.20s;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    }
    .extra-pfp-container:hover .extra-pfp-style{
      opacity: 1;
    }
    .extra-img{
      width: 42px;
      height: 42px;
      object-fit: contain;
      border-radius: 25px;
      margin-right: 7px;
    }
    .author-extra{
      font-weight: bold;
      margin: 0px;
      font-size: 14px;
      line-height: 25px;
    }
    .subs-extra{
      color: rgb(97, 97, 97);
    }